<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Shoe mart</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Sporty admin operations</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/products}">CHANGE PASSWORD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/products}">USER DETAILS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/products}">ORDER DETAILS</a>
      </li>
    </ul>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> ORDER DETAILS</h1>
		</div>
		<form th:action = "@{/purchase/date}" method ="get">
		<input type ="date" name = "keyword" th:value ="${keyword}" placeholder = "find by date" size ="50">
		<button type = "submit" class ="btn btn-info" >FILTER BY DATE</button>
		</form>
		<form th:action = "@{/category}" method ="get">
		<input type ="text" name = "keywords" th:value ="${keywords}" placeholder = "find by category" size ="50">
		<button type = "submit" class ="btn btn-info" >FILTER BY CATEGORY</button>
		</form>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> order Id</th>
					<th> user Id</th>
					<th> Product Category </th>
					<th> Product ID </th>
					<th> Purchase Date </th>
                   		
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "pr: ${products}">
					<td th:text = "${pr.orderid}"></td>
					<td th:text = "${pr.userid}"></td>
					<td th:text = "${pr.prdcategory}"></td>
					<td th:text = "${pr.productid}"></td>
					<td th:text = "${pr.purchasedate}"></td>	
					
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>