<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Shoe mart</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Sporty admin operations</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/products}">CHANGE PASSWORD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/products}">USER DETAILS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/products}">ORDER DETAILS</a>
      </li>
    </ul>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> ORDER DETAILS</h1>
		</div>
		
		
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> order Id</th>
					<th> Purchase Date</th>
					<th> user Id </th>
					<th> Product ID </th>
                   		
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "pr: ${products}">
					<td th:text = "${pr.orderid}"></td>
					<td th:text = "${pr.purchasedate}"></td>
					<td th:text = "${pr.user}"></td>
					<td th:text = "${pr.user)}"></td>
                    
                    	
					
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>